@import "tailwindcss";

body {
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Freight big pro';
    background: #fff;
    font-weight: 100;
    /* height: min; */
}

/* .marquee {
    animation: 5s linear infinite move
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
} */